<!DOCTYPE html>
<html ng-app="app">

<head>

    <title>{{site.title}}</title>

    <link rel="stylesheet" media="screen" href="{{settings.libs}}/twitter-bootstrap/3.1.1/css/bootstrap.css"/>

    <script src="{{settings.libs}}/jquery/1.11.0/jquery{{settings.min}}.js"></script>
    <script src="{{settings.libs}}/twitter-bootstrap/3.1.1/js/bootstrap{{settings.min}}.js"></script>

    <style>
        div.big {
            text-align: center;
        }
        div.big h1 {
            font-size: 48px;
            font-weight: bold;
        }
        div.www {
            background-image: url("/images/no.png");
            background-position: center;
            background-repeat: no-repeat;
            width: 160px;
            height: 160px;
            display: inline-block;
            margin: 36px 0 12px 0;
        }
        p {
            font-size: 20px;
        }
    </style>

    <script>


    </script>

</head>

<body>

<div class="container">
    {{#dewwwhost}}
    <div class="row">
        <div class="col-sm-12">
            <div class="big">
                <div class="www">&nbsp;</div>
                <h1>{{dewwwhost}}</h1>
                <p>This web site does not use the www prefix.  Just go to {{dewwwhost}} and leave off the www.</p>
                <p>In 60 seconds we will redirect you to {{dewwwhost}}.</p>
                <div><button class="btn btn-submit" onclick="">Go there now</button></div>
            </div>
        </div>
    </div>
    {{/dewwwhost}}
    {{^dewwwhost}}
    <div class="row">
        <div class="col-sm-12">
            <div class="big">
                <h1>{{host}}</h1>
                <p>The name {{host}} does not start with www.</p>
                <p>This probably means that you've misconfigured your DNS service. You should make www.{{host}}
                a CNAME for dewwwifier.com but point your A record to your own server.</p>
            </div>
        </div>
    </div>
    {{/dewwwhost}}
</div>

</body>

</html>
