<!DOCTYPE html>
<html>

<head>

    <title>dewwwifier</title>

    <link rel="stylesheet" media="screen" href="{{settings.libs}}/twitter-bootstrap/3.1.1/css/bootstrap.css"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/styles.css"/>

    <script src="{{settings.libs}}/jquery/1.11.0/jquery{{settings.min}}.js"></script>
    <script src="{{settings.libs}}/twitter-bootstrap/3.1.1/js/bootstrap{{settings.min}}.js"></script>

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="big">
                <div class="www">&nbsp;</div>
                <h1>dewwwifier</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Why do we use www?</h2>

            <p>Back in the early days of the Internet, people used domain names to distinguish one service from
                another. If someone wanted to access the FTP service at "foo.com," then that person might use
                "ftp.foo.com." Or, for the gopher service, "gopher.foo.com."
                Or, for the web service, "www.foo.com."</p>

            <p>The email server might be called "mail.foo.com."
                However the designers of the <a href="http://en.wikipedia.org/wiki/Domain_Name_System">Domain Name System</a>
                realized that including "mail" in every email address
                (for example, "your.name@<b>mail</b>.foo.com")
                would be redundant--it's an email address, so obviously you want the email server--so they
                included a special type of DNS record, called MX (for "mail exchanger"),
                that identifies the server that handles all mail for a domain.</p>

            <p>These days "www" has become as redundant as "mail" would have been. When a person types
                "foo.com" into a browser, obviously that person wants the web server
                for that domain, so why make the person type "www" to get it?</p>
        </div>
        <div class="col-sm-6">
            <h2>What is dewwwifier?</h2>

            <p>dewwwifier is a simple service that encourages users and web site owners to
                abandon their use of the "www" prefix on web site names.</p>

            <p>To use dewwwifier for your site, simply create an ANAME or CNAME record in your site's
                DNS configuration that maps the "www" name in your domain to dewwwifier.com. That's it!</p>

            <p>If users try to access your site using the "www" prefix, they will see a message telling them
                to access your site without the "www" prefix and will be redirected to your non-"www" URL in 60
                seconds.</p>

            <p><a href="http://www.{{site}}">Try it out</a> by accessing this page with a "www" prefix.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="footer">
                <p><a href="http://no-www.org">Another site</a> with an anti-"www" agenda</p>

                <p><a href="http://www.yes-www.org">Another</a> point of view</p>

                <p><a href="http://www.sitepoint.com/domain-www-or-no-www/">"It doesn't matter."</a></p>
            </div>
        </div>
    </div>
</div>

</body>

</html>
